*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #f5f5f5;
    color:#424242;
    font-family: 'Roboto', arial, sans-serif;
}
a {
    text-decoration: none;
    color:#485460;
    letter-spacing: 3.3px;
    line-height: .8;
    text-decoration: none;
    transition: all 0.5s;
}
p{
    font-size: .875em;
    font-weight: 300;
    line-height: 1.62em;
    letter-spacing: 1.5px;
}
h2{
    font-weight: 300;
    font-size: 2.25em;
    letter-spacing: 2px;
    line-height: 1.2em;
    text-transform: uppercase;
}
h4{
    font-size: 1.125em;
    text-transform: uppercase;
    letter-spacing: 1.9px;
    color:#2196F3;
}
#navbar{
    width: 100%;
    position: fixed;
    background:#fff;
    box-shadow: 0 5px 50px rgba(40,40,40,.15);
    height: 85px;
    z-index: 999;
}
.wrapper{
    position: relative;
    width: 1024px;
    margin:0 auto;
}
#navbar .wrapper{
    padding: 25px 0;
}
.navbar-brand{
    float: left;
    margin-right:20px;
}
.navbar-brand img{
    height: 20px;
    margin:7px 0;
}
.navbar-menu ul{
    list-style: none;
}
.navbar-menu ul li{
    float:left;
}
.navbar-menu ul li a{
    padding:0 20px;
    line-height: 35px;
    font-size: 13px;
    letter-spacing: 1px;
    transition: all 0.5s;
}
.navbar-menu ul li a:hover{
    color:#2196F3;
}
.navbar-right{
    float:right;
}

.btn-icon{
    font-size: 13px;
    text-transform: uppercase;
    height: 35px;
    line-height: 35px;
    border: 1px solid #2196F3;
    border-radius: 4px;
    padding-right: 10px;
    color:#2196F3;
}
.btn-icon i{
    background: #2196F3;
    height: 34px;
    line-height: 34px;
    border-radius: 4px 0 0 4px;
    padding: 0 10px;
    color:#fff;
    margin-right: 5px;
}



#jumbotron{
    height: 580px;
    padding-top:80px;
    background:url('../images/sibalian-bg.png');
    background-size: 100%;
}
.jumbo-text{
    margin-top: 80px;
}
#jumbotron .jumbo-text h1{
    width: 50%;
    text-transform: uppercase;
    font-size: 48px;
    text-shadow: 0 2px 20px rgba(0,0,0,.7);
    color:#fff;
    font-weight: bold;
}
.jumbo-text img{
    height: 20px;
    margin:30px 0;
}
a.jumbo-btn button{
    color:#fff;
    border: none;
    background:#3F51B5;
    padding:25px 35px;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 4px;
    transition: all .5s;
    letter-spacing: 3.3px;
    cursor: pointer;
}
a.jumbo-btn button:hover{
    transform: scale(1.1);
}


#fitur .wrapper{
    padding: 80px 0;
}
#fitur h4{
    padding-bottom: 20px;
}
#fitur h2{
    padding: 40px 0;
}
#fitur p{
    font-weight: 300;
    margin-bottom: 30px;
}
#fitur a{
    text-transform: uppercase;
    font-size: .875em;
    color: #2196F3;
}
#fitur a:hover{
    margin-left: 10px;
}


.jo-col3, .jo-col4, .jo-col6, .jo-col9, .jo-col12{
    position: relative;
    padding:0 10px;
    min-height: 1px;
    float: left;
}
.jo-col12{
    width:100%;
}
.jo-col9{
    width:75%;
}
.jo-col6{
    width:50%;
}
.jo-col4{
    width:33.33334%;
}
.jo-col3{
    width:24%;
}


#fitur .card-layanan{
    margin-top:-180px;
    padding:0 30px;
}
#fitur .card{
    padding:20px;
    height:350px;
    background: #fff;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.11);
}
#fitur .card img{
    width: 100%;
    margin-top:-40px;
}
#fitur .card p{
    margin-top:20px;
}

#testimonial{
    margin-bottom: 60px;
}

#testimonial .wrapper{
    background:#fff;
    padding: 40px 0;
}
#testimonial h4{
    text-align: center;
}
#testimonial .line-gradient{
    width: 50px;
    height: 4px;
    background: #2196F3;
    margin:0 auto;
    margin-top: 15px;
    margin-bottom: 60px;
}
#testimonial .testi{
    background:#343b41;
    text-align: center;
    color:#fff;
    padding: 20px;
}
#testimonial .testi .line-gradient{
    margin:60px auto 30px auto;
    height: 2px;
    background: #f9ae3c;
}
#testimonial .testi img{
    border-radius: 50%;
    margin-top:-50px;
}
#testimonial p{
    margin-top: 30px;
    font-size: 0.6em;
}
#testimonial h3{
    font-weight: normal;
    font-size: 13px;
}

#footer{
    background:#343b41;
    padding: 80px 0 120px 0;
    color: #fff;
}
#footer img{
    width: 100px;
}
#footer ul{
    list-style: none;
}
#footer a{
    color: #fff;
    font-size: 12px;
    line-height: 2em;
}
#footer a:hover{
    color:#2196F3;
}
#footer a i{
    font-size: 20px;
    padding: 10px;
}

.jo-hide{
    visibility: hidden;
}